<!-- dashboard.component.html -->
<header class="header">
    <div class="logo-container">
        <img src="/logo.png" alt="Pratt & Whitney Logo" class="logo">
        
    </div>
    <div class="user-profile">
        <div class="user-avatar"></div>
        <div class="user-info">
            <div class="user-name">Sagar</div>
            <div class="user-role">PM</div>
        </div>
    </div>
</header>

<div class="breadcrumb">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
    </svg>
    <a href="#"> Home</a> &gt; Dashboard &gt; I4.0 TPM
</div>

<div class="sidebar">
    <div class="sidebar-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
        </svg>
    </div>
    <div class="sidebar-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        </svg>
    </div>
    <div class="sidebar-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
    </div>
    <div class="sidebar-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
    </div>
</div>

<div class="main-content">
    <h1 class="content-header">I4.0 TPM</h1>
    
    <a href="#" class="home-btn">
        <svg class="home-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
        </svg>
        Home
    </a>
    
    <div class="dashboard-container">
        <div class="stats-container">
            <div class="total-tasks">
                <h2>Total Tasks:</h2>
                <div class="number">{{ totalTasks }}</div>
            </div>
            
            <div class="task-stats">
                <div class="task-stat-box">
                    <h3>Yet to start</h3>
                    <div class="number">{{ taskStats.notStarted }}</div>
                </div>
                
                <div class="task-stat-box">
                    <h3>In progress</h3>
                    <div class="number">{{ taskStats.inProgress }}</div>
                </div>
                
                <div class="task-stat-box">
                    <h3>In Testing</h3>
                    <div class="number">{{ taskStats.inTesting }}</div>
                </div>
                
                <div class="task-stat-box">
                    <h3>In Review</h3>
                    <div class="number">{{ taskStats.inReview }}</div>
                </div>
                
                <div class="task-stat-box">
                    <h3>Completed</h3>
                    <div class="number">{{ taskStats.completed }}</div>
                </div>
                
                <div class="task-stat-box">
                    <h3>Overdue</h3>
                    <div class="number">{{ taskStats.overdue }}</div>
                </div>
            </div>
        </div>
        
        <div class="chart-container">
            <div>
                <svg width="300" height="300" viewBox="0 0 300 300">
                    <!-- Yellow segment - Yet to start -->
                    <path [attr.d]="pieChartPaths.notStarted" fill="#e9d94e"></path>
                    
                    <!-- Orange segment - In Progress -->
                    <path [attr.d]="pieChartPaths.inProgress" fill="#e99649"></path>
                    
                    <!-- Purple segment - In Testing -->
                    <path [attr.d]="pieChartPaths.inTesting" fill="#b853a8"></path>
                    
                    <!-- Blue segment - In Review -->
                    <path [attr.d]="pieChartPaths.inReview" fill="#2e3192"></path>
                    
                    <!-- Green segment - Completed -->
                    <path [attr.d]="pieChartPaths.completed" fill="#27ae60"></path>
                    
                    <!-- Red segment - Overdue -->
                    <path [attr.d]="pieChartPaths.overdue" fill="#d13b40"></path>
                    
                    <!-- Center white circle -->
                    <circle cx="150" cy="150" r="75" fill="white"></circle>
                    
                    <!-- Center text -->
                    <text x="150" y="140" font-size="20" text-anchor="middle" fill="#1f3a60">Total</text>
                    <text x="150" y="175" font-size="32" font-weight="bold" text-anchor="middle" fill="#1f3a60">{{ totalTasks }}</text>
                </svg>
                
                <div class="chart-legend">
                    <div class="legend-item">
                        <div class="legend-color yellow-dot"></div>
                        <span>Yet to Start</span>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color orange-dot"></div>
                        <span>In Progress</span>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color purple-dot"></div>
                        <span>In Testing</span>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color blue-dot"></div>
                        <span>In Review</span>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color green-dot"></div>
                        <span>Completed</span>
                    </div>
                    <div class="legend-item">
                        <div class="legend-color red-dot"></div>
                        <span>Overdue</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="back-btn">←</a>

<footer class="footer">
    <a href="#" class="logout-btn" (click)="logout()">
        Log out
        <svg class="logout-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
    </a>
</footer>